.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  #contact h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background: var(--primary-color); /* Primary color underline */
    margin: 8px auto 0;
    border-radius: 5px;
  }  
  
  .contact-form input,
  .contact-form textarea {
    border: 2px solid #ddd;
  }
  
  .contact-form button,
  .contact-form input,
  .contact-form textarea {
    width: 80%;
    max-width: 500px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: "Poppins",sans-serif;
  }
  
  .contact-form button:hover,
  .contact-form input:focus,
  .contact-form textarea:focus {
    border-color: #FF4B2B;
    outline: 0;
  }
  
  .contact-form button {
    background-color: #FF4B2B;
    color: #fff;
    /* width: fit-content; */
    border: 0;
    cursor: pointer;
    transition: background-color .3s;
  }
  
  .contact-form button:hover {
    background-color: #e7533f;
  }